#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navElement {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

#title {
	float: left;
}

#navLinks {
	float: left;
}
h2, h1{
	color:#000000;
	font-family: "Copperplate Gothic Light";
}
header {
	background-color:#80f780;
}
body {
background-color:#22d61b;}
p {color: #000000;}
a {color:#0caa06;}
#title {font-weight:bold;}
#spaced {margin-top:8px;}
.container{
	background-color: #84fc84;
	margin: 8%;
	padding:5%;}
img{
	max-width:70%;
	margin:auto; }